<site-header></site-header>
<section class="body clearfix">
    <h1>Welcome!</h1>
    <p>To create meetups, please first log in.</p>
    <div class="panel panel-default col-xs-offset-3 col-xs-6 ">
        <div class="panel-body">
            <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
                <div>
                    <mat-form-field style="width: 100%">
                        <input matInput name="userName" placeholder="User name" [disabled]="isSubmitting" ngModel required >
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field style="width: 100%">
                        <input matInput name="password" type="password" placeholder="Password" [disabled]="isSubmitting" ngModel required >
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <hr />
                    <button [disabled]="!userForm.valid" class="btn btn-primary" type="submit"><span *ngIf="isSubmitting"><i class='fa fa-circle-o-notch fa-spin'></i> Submitting</span><span *ngIf="!isSubmitting">Submit</span></button>
                </div>
                <div class="form-group">
                    <div class="form-group">Not a user yet? Create a new user <a href="/createuser">here</a>!</div>
                </div>
            </form> 
        </div>
    </div>
</section>
<site-footer></site-footer>
